<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
    <catalog>
      <search>
        <enable_advanced_search>1</enable_advanced_search>
      </search>
    </catalog>
  </default>
</config>